header.logo img {
    width: 250px;
    position: relative;
    left:25px;
}

header{
  text-align:center;
}


body {
    background-image: url("https://img.freepik.com/free-vector/gradient-pastel-sky-background_23-2148908165.jpg?w=1380&t=st=1677475850~exp=1677476450~hmac=d5b8e652227d91dcd3cb439facf4201f6485ae0e5e1f870f50bd7510af350080");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Shantell Sans', cursive;
  }

body div.content, footer{
  text-align: center;
}

footer a {
  color: blue;
}

nav a {
  color: #F79AC0;
}

img#shiba {
  width: 300px;
}

.sticky{
  position: -webkit-sticky;
  position: sticky;
  top:0;
  z-index: 3;
}

.list {
	list-style: none;
  text-align: center;
  font-size: 26px;
  background-image: url("https://img.freepik.com/free-vector/gradient-pastel-sky-background_23-2148908165.jpg?w=1380&t=st=1677475850~exp=1677476450~hmac=d5b8e652227d91dcd3cb439facf4201f6485ae0e5e1f870f50bd7510af350080");
  background-size:cover;
  background-repeat: no-repeat;
}

.list > li {
  display:inline-block;
  padding: 5px;
}

div#recommendation img{
  width: 200px;
  
}

div#recommendation figure {
  float: left;
  width: 20%;
  position:relative;
  left:280px;
}


div#about img {
  display:inline;
  width: 250px;
  border-radius: 50%;
}

#contact form {
  width:600px;
  margin:auto;
}

#details div{
  float:left;
  width: 33.33%;
  
}

div#home {
  text-align:center;
  list-style-position: inside;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height:0;
  line-height: 0;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  background-color: whitesmoke;
}


/*

figure { 
    display: block;
    margin: auto;
    width: 300px;
    border-radius: 50%;
}

body h1, h2 {
    text-align:center;
}

div.about h2 {
    display: block;
}