/* body {
    background-image: url("https://images.pexels.com/photos/1084510/pexels-photo-1084510.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
}

/* body {
    background: lightgrey;
    font-family: helvetica;
}

body img { 
    display: block;
    margin: auto;
    width: 300px;
    border-radius: 50%;
}

body h1, h2 {
    text-align:center;
}

div.about h2 {
    display: inline;
}